[Unit]
Description=Gunicorn service for AirBnB clone
After=network.target

[Service]
User=your_username
Group=www-data
WorkingDirectory=/path/to/your/app
Environment="PATH=/path/to/python/bin:/usr/local/sbin"
ExecStart=/usr/bin/gunicorn --bind 0.0.0.0:5003 --workers 3 web_dynamic.2-hbnb:app
Restart=on-failure

# Logging configuration
ErrorLog=/tmp/airbnb-error.log
AccessLog=/tmp/airbnb-access.log
LogLevel=debug  # Adjust log level as needed (info, warning, etc.)

[Install]
WantedBy=multi-user.target
